<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @task.text %>
</p>

<p>
	<strong>Tags:</strong>
	<%= raw @task.tag_list %>
</p>
 
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>