<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @task.text %>
</p>

<p>
	<strong>Tags:</strong>
	<%= raw @task.tags.map(&:name).map{|tag| link_to tag, tag_path(tag)}.join(", ") %>
</p>
 
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>